.bg {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
  background-color: black;
}

.container {
  max-width: 30rem;
  margin: 0 auto;
}

.headerLogoContainer {
  position: relative;
  aspect-ratio: 16 / 9;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
  gap: 1rem;
  margin-bottom: 1rem;
}

.column h1 {
  margin-bottom: 0;
}

.entry {
  display: block;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
  background-color: var(--gray);
}

.entry:hover {
  filter: brightness(0.9);
}

.entry * {
  color: black;
  margin: 0.5rem;
}

.entry h2 {
  margin-bottom: 0;
}

.entry .roles {
  /* display: flex;
  flex-direction: row; */
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr auto;
  margin: 0 auto;
  width: fit-content;
  white-space: nowrap;
}

.entry .roles p:first-child {
  text-align: right;
}

.entry .roles p:last-child {
  text-align: left;
}
